
/* html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100% ;
    justify-content: flex-end;
} */
/* body */
/* body{
  background: #ffffff;
  font-family: sans-serif;
  border-top: 5px solid #aa8e8d;
} */
/* title */
.Check{
    color: #000000;
    text-align: center;
    font-size: 30px;
    font-weight:700px;
    padding-bottom: 100px;
  }
  
  h2{
      font-size: 50px;
  }
  
  .tasks {
    width: 550px;
    height: 800px;
    position: absolute;
    top: 13%;
    left: 630px;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  

  input[type=checkbox] {
    display: none;
  }

  .customLabel{
    background: #17594A;
    height: 69px;
    width: 100%;
    display: flex;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 9px;
    letter-spacing: 1px;
    text-indent: 20px;
    cursor: pointer;
    transition: all 0.7s ease;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  label h2 span{
    display: block;
    font-size: 1px;
    text-transform: capitalize;
    font-weight: 100;
    color: #fff;
  }
  /* label:before{
    content:"";
    width: 20px;
    height: 20px;
    background: #fff;
    display: block;
    position: absolute;
    border-radius: 100%;
    right: 20px;
    top: 30%;
    transition: border 0.7s ease
  } */
  #label-1:checked ~ label[for=label-1],
  #label-2:checked ~ label[for=label-2],
  #label-3:checked ~ label[for=label-3],
  #label-4:checked ~ label[for=label-4],
  #label-5:checked ~ label[for=label-5]{
    background: #6d335c;
    color: #ffffff;
  }
  #label-1:checked ~ label[for=label-1] h2 span,
  #label-2:checked ~ label[for=label-2] h2 span,
  #label-3:checked ~ label[for=label-3] h2 span,
  #label-4:checked ~ label[for=label-4] h2 span,
  #label-5:checked ~ label[for=label-5] h2 span{
    color: #ffffff;
  }
  #label-1:checked ~ label[for=label-1]:before,
  #label-2:checked ~ label[for=label-2]:before,
  #label-3:checked ~ label[for=label-3]:before,
  #label-4:checked ~ label[for=label-4]:before,
  #label-5:checked ~ label[for=label-5]:before{
    background: url("https://i.imgur.com/eoPQ05r.png") no-repeat center center;
  }

  






.button-drop-container, .drop-pop button {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  z-index: 1;
}


.drop-button {
  padding: 18px 24px;
  color: #ffffff;
  border: 0px;
  display: flex;
  font-weight: 600;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms;
  z-index: 1;

}

/* icon in drop button */
.drop-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}


Space between button groups 
 .button-group{
  margin-right: 10px;
  font-size: 0;
}

.button-group > * {
  display: inline-block;
  position: relative;
  font-size: 16px;
}

.drop-button-wrap{
  width:80%;
}

.drop-pop {
  width: 200px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, .4);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px; /* Add margin to create space */
  max-height: 200px; /* Limit the dropdown's height */

}

.drop-pop button {
  width: 100%;
  background: transparent;
  color: black;
  border-width: 0px;
  padding: 8px 24px;
  box-shadow: none;

}




/* Hide Checkbox */
.drop-button-wrap input[type="checkbox"] {
  width: 0px;
  height: 0px;
  margin: 0px;
  display: block;

}


/* Dropdown container when hidden */
.drop-button-wrap input[type="checkbox"] ~ .drop-pop {
  visibility: hidden;
  opacity: 0;
  top: 0%;
  transition: all 200ms;
}

/* Dropdown container when visible */
.drop-button-wrap input[type="checkbox"]:checked ~ .drop-pop {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.tenant-task-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 20px;
align-items: center;
position: relative;
}

.tenant-info,
.task-info {
  margin-right: 10px; 
}

